
<app-header (navigateToPage)="handleNavigation($event)"></app-header>

<!-- Conditionally render SigninComponent if showSignIn is true -->
<div *ngIf="showSignIn">
  <app-signin></app-signin>
</div>
<div *ngIf="showFavorite">
  <app-favorite></app-favorite>
</div>
<div *ngIf="showSignup">
  <app-signup></app-signup>
</div>
<!-- Main content -->
<div *ngIf="showMainContent">
  <app-hero-section></app-hero-section>
  <app-food-options></app-food-options>
  <app-restaurant-detail></app-restaurant-detail>
  <app-footer></app-footer>
</div>
<div *ngIf="showRestaurantMenu">
  <app-restaurant-menu></app-restaurant-menu>
  <router-outlet></router-outlet>
</div>

<!-- Cart page -->
<app-cart *ngIf="!showMainContent && !showRestaurantMenu && !showSignIn && !showSignup && !showFavorite"></app-cart>



